<div>
    {{#each beersFromApi}}
    <img src="{{this.image_url}}" style="height: 100px; width: 50px" />
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>

    {{log this}}

    {{/each}}

</div>